body {
  background-color: #202020;
  color: lightgrey;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}
.fire-text {
font-family: “Open Sans”, sans-serif;
color: #f5f5f5;
text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px #F90, 0px -20px 40px #C33;
}

/*Menu settings*/
.menu {
  position: fixed;
  display: block;
  width: 20px;
  height: 20px;
  top: 10;
  left: 15;
  right: 0;
  bottom: 0;
  background-color: inherit;
  cursor: pointer;
  margin-left: 95%;
  z-index: 5;
}
.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: lightgrey;
  margin: 3px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 3px);
  transform: rotate(-45deg) translate(-4px, 3px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px);
}
.barmode {
  background-color: #202020;
}

#OPdiv {
  background-color: inherit;
}

/*Overlay settings*/
.overlay {
  position: fixed;
  overflow-y: scroll;
  display: none;
  width: 100%;
  height: 79%;
  top: 120;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  z-index: 3;
  cursor: pointer;
  font-size: 30px;
}
.overlay h1 {
  text-align: center;
}
.overlay p {
  font-size: inherit;
  margin-left: 10%;
  margin-right: 10%;
}
.noscroll {
  overflow: hidden;
}
.overlay_settings {
  position: fixed;
  display: none;
  width: 100%;
  height: 450px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  z-index: 4;
  cursor: pointer;
  border-bottom: 1px solid black;
}

/*Light/Dark Mode settings*/
.white {
  background-color: lightgrey;
  color: black;
}

/*Intro settings*/
.header {
  font-size: 32;
  margin-left: 10;
  margin-top: auto;
  margin-bottom: auto;
}
#intro {
  margin-left: 3%;
  font-size: 20px;
  margin-top: auto;
  font-style: italic;
}
#introwin {
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 12px;
  background-color: inherit;
  z-index: 3;
  left: 0;
  padding-bottom: 20px;
}
#articles {
  background-color: inherit;
}

/*Button settings*/
.buttondiv {
  margin-bottom: 10px;
  margin-right: auto;
  display: grid;
  grid-template-areas:
    "item item"
    "item item";
  margin-top: 10px;
}
.text {
  margin-left: 20px;
  font-size: 18px;
}

/*iOS Slider*/
label.switch {
  text-align: left;
  width: 50px;
  height: calc(50px / 2);
  border-radius: 60px;
  background-color: #4ed164;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top: 14px;
}
label.switch > span {
  display: block;
  width: 100%;
  height: 100%;
}
label.switch > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
label.switch > span:before, label.switch > span:after {
  content: "";
  cursor: pointer;
  position: absolute;
}
label.switch > input[type="checkbox"]:focus ~ span {
  box-shadow: 0 0 0 4px #43b556;
}
label.switch > input[type="checkbox"]:checked:focus ~ span {
  box-shadow: 0 0 0 4px #fff;
}
label.switch > span {
  border-radius: 60px;
}
label.switch > span:before {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
  transform: scale(1);
  opacity: 1;
}
label.switch > span:after {
  top: 50%;
  z-index: 3;
  transition: transform .4s cubic-bezier(0.44, -0.12, 0.07, 1.15);
  width: calc(50px / 2);
  height: calc(50px / 2);
  transform: translate3d(0, -50%, 0);
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}
label.switch > input[type="checkbox"]:checked ~ span:before {
  transform: scale(0);
  opacity: .7;
}
label.switch > input[type="checkbox"]:checked ~ span:after {
  transform: translate3d(100%, -50%, 0);
}

/*Category creator / Buttons in settings*/
.design {
  -webkit-appearance: none;
  background-color: #f1f1f1;
  width: 50px;
  height: calc(50px / 2);
  margin-top: 20px;
  border-radius: 60px;
  box-sizing: border-box;
  cursor: pointer;
}

/*Login Form... Can be useful for creating categories!*/
.modal {
  display: none;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
.modal-content {
  background-color: #fefefe;
  color: black;
  margin: 5px auto;
  border: 1px solid #888;
  width: 80%;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
form {
  border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
form div button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
form div button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.avatarContainer {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}

#urlInput {
  margin-left: 20px;
  margin-top: 20px;
  width: 80%;
  height: 30%;
  padding-left: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #202020;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}
.dropdown-content a {
  color: inherit;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: lightgrey;
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .design {
  background-color: lightgrey;
  color: black;
}
/*Slider settings*/
#slider {
  width: 42%;
  -webkit-appearance: none;
  background-color: #303030;
  height: 10px;
}
#slider:focus {
  outline: none;
}
#slider::-webkit-slider-runnable-track {
}
#slider::-webkit-slider-thumb {
-webkit-appearance: none;
width: 25px;
height: 25px;
border-radius: 20%;
background: #909090;
}

/*Grid settings*/
.container {
  flex-direction: column;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "item item item item"
    "item item item item"
    "item item item item";
  align-items: stretch;
  justify-content: space-around;
  margin-top: 120px;
}
#article0 {

}
.item {
  grid-area: auto;
  font-size: 25px;
  max-width: 100%;
  height: auto;
}
.panel {
  max-width: 100%;
  height: auto;
}
.bg-text {
  padding: 10%;
  background-size: cover;
  max-width: 100%;
  height: 65vh;
  top: 0;
  bottom: 0;
  border: 1px black solid;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .bg-text {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.8);
  }
  .white #OPdiv #art0 .item .bg-text {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
  }

}
/*Navbar settings*/
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: inherit;
  overflow: auto;
  white-space: nowrap;
  z-index: 2;
}
.navbar a {
  display: inline-block;
  color: inherit;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.navbar a:hover {
  color: green;
}

/*Phone settings*/
@media screen and (max-width: 600px) {
  .header {
    font-size: 32;
    text-align: center;
  }
  .slider {
    text-align: center;
  }
  #intro {
    text-align: center;
  }
  #slider {
    width: 80%;
  }

  .menu {
    margin-left: 87%;
  }
  .button {
    text-align: center;
    margin-right: auto;
  }

/*Flexbox settings for phone*/
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-template-areas:
      "item item"
      "item item"
      "item item"
      "item item"
      "item item"
      "item item"
  }
}
